*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}

body {
    font-family: $mainfont;
    font-weight: 400;
}

button {
    padding: 0;
    border: 0;
    background-color: transparent;
}

.page {
    min-width: 100%;
    overflow: hidden;
}